:root {
  --title: "Etna";
  --text: "Segoe UI";

  --primary: #1661c9;
  --secondary: #f96a56;
  --tertiary: #222222;
  --light: #ffffff;
  --lightBlur: rgba(255, 255, 255, 0.25);
  --darkBlur: rgba(0, 0, 0, 0.25);
}
